*.bak
*.conf
*.gif
*.npy
*.obj
*.ply
*.png
*.pth
*.pyc
*.zip
.DS_Store
/tropical/stanford/armadillo
/tropical/stanford/bunny
/tropical/stanford/dragon_recon
/tropical/stanford/drill
/tropical/stanford/happy_recon
/tropical/stanford/lucy
frames/
sftp-config.json
